{% extends 'layouts/base.html' %}

{% load static %}

{% block content%}

    

  

    <main class="contenedor">    
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
                <form action="/registro/" method="POST" class="card card-body">
                    <h1 class="text-center">Registro</h1>
                    {{error}}
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="username">Usuario:</label>
                        <input type="text" name="username" class="form-control" placeholder="Escribe tu usuario" required>
                    </div>

                    <div class="mb-3">
                        <label for="password1">Contraseña:</label>
                        <input type="password" name="password1" class="form-control" placeholder="Escribe tu contraseña" required>
                    </div>

                    <div class="mb-3">
                        <label for="password2">Confirma tu contraseña:</label>
                        <input type="password" name="password2" class="form-control" placeholder="Confirma tu contraseña" required>
                    </div>
            
                    <button class="btn btn-primary">
                        Registro
                    </button>
                </form>
            </div>
        </div>
</main>

{% endblock %}